@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-13rem)  rotate(0);
	}
	60% {
		transform: rotate(-20deg);
	}
	
	80% {
		transform: translateX(1rem);
	}
	
	100% {
		transform: translateX(0) rotate(0);
		opacity: 1;
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(13rem);
	}

	
	60% {
		transform: rotate(-20deg);
	}
	80% {
		transform: translateX(-1rem);
	}
	
	100% {
		transform: translateX(0) rotate(0);
		opacity: 1;
	}
}

@keyframes disappear {
	0% {
		opacity: 1;

	}
	100% {
		opacity: 0;
		transform: scale(1.5);
	}
}

@keyframes moveInTop {
	0% {
		opacity: 0;
		transform: translateY(13rem);
	}
		
	80% {
		transform: translateY(-1rem);
	}
	
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}